{%extends 'home/base.html'%}
{%load static%}
{%block content%}
<h1 id="hometext" class="text-dark text-center text-uppercase bg-light mb-5">Welcome to hack code</h1>
<div class="row justify-content-center my-3">
    <div class="col-5">
<img src="{%static 'home/company.jpg'%}" alt="Responsive image" class="img-fluid mb-5" >
</div>
</div>
<div class="row">
    {%for tutorial in tutorials%}
    <div class="col-lg-4 col-md-6 col-6">
        <h1>{{tutorial.title}}</h1>
<p>{{tutorial.description}}</p>
        <img src="{{tutorial.image.url}}" class="img-fluid mb-5 img-thumbnail">
{%if tutorial.url%}
<a href="{{tutorial.url}}">link</a>
{%endif%}
    </div>


{%endfor%}

</div>

{%endblock%}